# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Envs
venv/
env/
.venv/

# Environment
.env
.env.*
*.env

# Logs
*.log

# Test cache
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
docker-data/
docker-compose.override.yml

# Project generated
*.zip
*.tar.gz
*.tmp
*.bak
